:root {
  --logo: url(https://raw.githubusercontent.com/mcanouil/hex-stickers/main/SVG/mc.svg);
  --cover: url('cover.jpg');
  --red: #dc3223;
  --white: #e8e7e2;
}

@import url(https://fonts.googleapis.com/css?family=Finger+Paint:300,300i,400,400i,500,500i,700,700i);

body {
  font-family: 'Finger Paint', 'Droid Serif', 'Palatino Linotype', 'Book Antiqua', Palatino, 'Microsoft YaHei', 'Songti SC', serif;
}

.red {
  color: var(--red);
}

.white {
  color: var(--white);
}

.footnote {
  position: absolute;
  bottom: 0.5em;
  /*padding-right: 4em;*/
  font-size: 90%;
  color: var(--red);
  text-shadow: 1px 1px 2px var(--white);
}

.logo {
  content: "";
  z-index: 1;
  position: absolute;
  opacity: 1;
  top: 15px;
  right: 0;
  width: 127.85px;
  height: 110.5px;
  background-image: var(--logo);
  background-size: contain;
  background-repeat: no-repeat;
}

#picture {
  border-style: solid;
  border-width: 2pt;
  border-color: var(--red);
  border-radius: 50%;
  padding: 5pt;
}

a, a > code {
  color: var(--red);
  text-decoration: none;
  text-shadow: 0 0 20px var(--white);
  font-size: 200%;
}

.title-slide .remark-slide-number {
  display: none;
}

h1 {
  margin: 0;
}

.title-slide {
  background-image: var(--cover);
  background-size: cover;
  color: var(--white) !important;
  outline: thick double #e8e7e2BF;
  outline-offset: -25px;
}

.title-slide h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 700;
  font-size: 100px;
  text-shadow: 1px 1px 2px var(--red);
  color: var(--white) !important;
}
